<template>
    <div class="vueHeader">
        <div class="container">
            <div class="container--blocks">
                <img
                    @click="$router.push('/')"
                    class="header--logo"
                    src="../../assets/img/header/logo.svg"
                />
                <div class="header--lang">
                    <img src="../../assets/img/header/rus.svg" alt="" />
                    <p>Русский</p>
                    <svg
                        width="12"
                        height="8"
                        viewBox="0 0 12 8"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M6 7.41016L12 1.41016L10.59 0.000156526L6 4.58016L1.41 0.000157328L-5.24537e-07 1.41016L6 7.41016Z"
                            fill="#868E96"
                        />
                    </svg>
                </div>
            </div>
            <div class="container--blocks">
                <div class="header--nav">
                    <p>Главная</p>
                    <p>О нас</p>
                    <p>Цены</p>
                    <p>Технологии</p>
                </div>
                <img src="../../assets/img/header/karzina.svg" alt="" />
            </div>
        </div>
    </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.vueHeader {
    width: 100%;
    .container {
        position: absolute;
        top: 46px;
        left: 0;
        right: 0;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &--blocks {
            display: flex;
        }
    }
}
.header--logo {
    margin-right: 59px;
    cursor: pointer;
}
.header--lang {
    display: flex;
    flex-direction: row;
    align-items: center;
    img {
        margin-right: 20px;
    }
    p {
        font-weight: 400;
        font-size: 15px;
        line-height: 35px;

        color: #ffffff;
        margin-right: 15px;
    }
    svg {
        cursor: pointer;
    }
}
.header--nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    p {
        position: relative;
        width: 100px;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        color: #ffffff;

        cursor: pointer;
        transition: 0.3s;

        margin-right: 20px;
        &:after {
            width: 0;
            height: 5px;
            display: block;
            position: absolute;
            bottom: -5px;
            left: 0;
            background: url("../../assets/img/header/line.svg") repeat-x;
            transition: 0.3s;
            content: "";
        }

        &:hover {
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            color: #f2b816;
            &:after {
                width: 40%;
            }
        }
    }
}
</style>
