.v-application {
    color: #000;
    line-height: unset !important;
    font-family: "Montserrat", sans-serif !important;
}
.v-application p {
    margin-bottom: 0px !important;
}
.content__inputs {
    .v-text-field input {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #a8a8a8;
    }
    .v-text-field.v-text-field--enclosed:not(.v-text-field--rounded)
        > .v-input__control
        > .v-input__slot,
    .v-text-field.v-text-field--enclosed .v-text-field__details {
        padding: 0 20px !important;
    }
    .v-select__selections {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }
}

.content__check {
    .v-input--selection-controls {
        margin-top: 0px !important;
        padding-top: 0px !important;
    }
}
.input__part {
    .v-text-field {
        padding-top: 0px;
        margin-top: 0px;
    }
    .v-text-field input {
        padding: 0px;
        font-weight: 400;
        font-size: 13px;
        line-height: 12px;
    }
    .v-input {
        flex: unset;
        font-weight: 400;
        font-size: 13px;
        line-height: 12px;
    }
    .theme--light.v-text-field > .v-input__control > .v-input__slot:before {
        display: none;
    }
    .v-text-field > .v-input__control > .v-input__slot:after {
        display: none;
    }
}
