$font-path: "../../assets/fonts";

@font-face {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    src: url("#{$font-path}/Montserrat-Regular.ttf");
}
@font-face {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    src: url("#{$font-path}/Montserrat-Medium.ttf");
}
@font-face {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    src: url("#{$font-path}/Montserrat-SemiBold.ttf");
}
@font-face {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    src: url("#{$font-path}/Montserrat-Bold.ttf");
}
@font-face {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    src: url("#{$font-path}/Montserrat-ExtraBold.ttf");
}
@font-face {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    src: url("#{$font-path}/Montserrat-Black.ttf");
}
