* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.orange-btn {
    width: 100%;
    height: 56px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(135deg, #f2c314 0%, #fc3832 100%);
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
}
