<template>
    <v-app>
        <v-main>
            <vue-header />
            <router-view />
            <vue-footer />
        </v-main>
    </v-app>
</template>

<script>
import vueHeader from "../src/components/core/vueHeader.vue";
import vueFooter from "../src/components/core/vueFooter.vue";

export default {
    name: "App",
    components: {
        vueHeader,
        vueFooter,
    },
};
</script>

<style lang="scss">
@import "@/assets/css/main.scss";
@import "@/assets/css/custom.scss";
</style>
